{% extends 'layout.html.twig' %}

{% block title %}TUC | Regulamentul campaniei TUC{% endblock %}
{% block body %}
<div class="page">
    {% include 'reusable_templates/header.html.twig' %}
    <main class="rules-page brand-background">
        <div class="inner" >
            <!-- Rules content start-->
            <div class="campaign-legal">
                <div class="campaign-legal__heading common-heading">
                    <h1>Regulament</h1>
                </div>
                <div class="campaign-legal__content">
                    <div class="campaign-legal__content__text">
                        <div class="text-section">
                            <h3>SECTIUNEA 1. ORGANIZATORUL CAMPANIEI</h3>
                            <p><strong>1.1.</strong> Organizatorul Campaniei (<strong>“Campania”</strong>) este <strong>Mondelez Romania S.A.</strong> (<strong>„Organizatorul”</strong>),
                                societate comerciala inregistrata in conformitate cu legea romana, cu sediul in Romania, Bucuresti, Sector 2, B-dul. Dimitrie Pompeiu, nr. 5-7,
                                Hermes Business Campus 2, Cladirea C, Sectiunea Nord, etaj 6, inregistrata la Registrul Comertului sub nr. J40/6905/2010, C.U.I. 1097530.</p>
                            <p><strong>1.2.</strong> Prin intermediul <strong>DENTSU ROMANIA S.R.L.</strong>, (<strong>“Agentia 1”</strong>), cu sediul in Str. George Enescu nr. 11-11A, etaj 5,
                                camera 3, Sector 1, Bucuresti, inregistrata la Registrul Comertului sub nr. J40/20774/2008, C.U.I. 2486616.</p>
                            <p><strong>1.3.</strong> Si prin intermediul <strong>Mediapost Hit Mail S.A.</strong> (<strong>“Agentia 2”</strong>), cu sediul in Str. Siriului, nr. 42-46, etaj 3, Sector 1, Bucuresti, inregistrata la
                                Registrul Comertului sub nr. J40/8295/2000, C.U.I. RO13351917.</p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 2. REGULAMENTUL CAMPANIEI</h3>
                            <p><strong>2.1.</strong> Campania se va desfasura conform prevederilor prezentului regulament (<strong>„Regulamentul”</strong>) care este obligatoriu pentru toti
                                Participantii si pentru toate entitatile implicate in derularea Campaniei.</p>
                            <p><strong>2.2.</strong> Campania se va desfasura in conformitate cu urmatoarele prevederi: Ordonanta Guvernului nr. 99/2000 privind comercializarea produselor si
                                serviciilor de piata, cu toate modificarile si completarile ulterioare, Legea nr. 506/2004 privind prelucrarea datelor cu caracter personal si
                                protectia vietii private in sectorul comunicatiilor electronice si Regulamentul (UE) 2016/679 privind protectia persoanelor fizice, in ceea ce priveste
                                prelucrarea datelor cu caracter personal si privind libera circulatie a acestor date.</p>
                            <p><strong>2.3.</strong> Regulamentul este intocmit si facut public conform legislatiei aplicabile in Romania si este disponibil, in mod gratuit, oricarui Participant,
                                pe website-ul <a href="http://www.tusituc.ro/" target="_blank"><strong>www.tusituc.ro</strong></a> sau printr-o solicitare adresata Organizatorului la adresa din
                                B-dul. Dimitrie Pompeiu, nr. 5-7, Hermes Business Campus 2, Cladirea C, Sectiunea Nord, etaj 6, Sector 2, Bucuresti.</p>
                            <p><strong>2.4.</strong> Potrivit liberei decizii a Organizatorului, Campania poate fi mediatizata in scopul informarii publicului, inclusiv prin intermediul unor materiale publicitare si/sau materiale cu rol informativ. Informatiile pe care astfel de materiale le pot contine vor fi interpretate in conformitate cu prevederile prezentului Regulament.</p>
                            <p><strong>2.5.</strong> Organizatorul isi rezerva dreptul de a modifica si/sau de a completa Regulamentul, precum si dreptul de a suspenda si/sau de a inceta/intrerupe/prelungi Campania, cu conditia instiintarii prealabile a Participantilor cu privire la orice modificare a vreuneia din prevederile acestuia. Orice modificari/completari aduse prevederilor acestui Regulament vor fi cuprinse in acte aditionale care vor fi comunicate catre public prin actualizarea si publicarea Regulamentului, in forma actualizata, pe website-ul <a href="http://www.tusituci.ro/" target="_blank"><strong>www.tusituci.ro</strong></a>, cu cel putin 24 ore, inainte ca acestea sa intre in vigoare.</p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 3. ARIA DE DESFASURARE SI DURATA CAMPANIEI</h3>
                            <p><strong>3.1.</strong> Campania este organizata pe teritoriul Romaniei, online pe website-ul <a href="http://www.tusituc.ro/" target="_blank"><strong>www.tusituc.ro</strong></a>, in conformitate cu prevederile prezentului Regulament.</p>
                            <p><strong>3.2.</strong> Campania se desfasoara in perioada <strong>20 aprilie 2023</strong>, ora <strong>10:00:00</strong> si <strong>31 mai 2023</strong>, ora <strong>23:59:59</strong> (<strong>”Perioada Campaniei”</strong>), pe parcursul careia se vor desfasura 3 extrageri.</p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 4. PRODUSELE PARTICIPANTE</h3>
                            <p><strong>4.1.</strong> La Campanie participa urmatoarele produse comercializate de catre Organizator, pe piata din Romania, denumite in continuare <strong>“Produsele Participante”</strong>:</p>
                            <table class="products-table">
                                <tbody>
                                <tr>
                                    <td><p><strong>Denumire produs</strong></p></td>
                                </tr>
                                <tr>
                                    <td><p>Tuc Biscuiti cu ardei 100g</p></td>
                                </tr>
                                <tr>
                                    <td><p>Tuc Biscuiti sarati cu branza 100g</p></td>
                                </tr>
                                <tr>
                                    <td><p>Tuc Onion and sour cream 100G</p></td>
                                </tr>
                                <tr>
                                    <td><p>Tuc Original 100g</p></td>
                                </tr>
                                </tbody>
                            </table>
                            <p><strong>4.2.</strong> Bonul fiscal ce atesta achizitia a minimum doua Produse Participante, pe acelasi bon fiscal, in Perioada Campaniei, trebuie pastrat in original, intreg si nedeteriorat. <strong><em>In cazul in care pe bonul fiscal nu apare denumirea exacta a Produselor Participante, Participantul va trebui sa faca dovada si cu ambalajele Produselor Participante achizitionate pe bonul respectiv.</em></strong></p>
                            <p><strong>4.3.</strong> Dupa data incheierii Campaniei, Produsele Participante descrise mai sus isi pierd aceasta calitate, Organizatorul nemaiavand nicio responsabilitate si nemaiasumandu-si nicio obligatie in legatura cu nicio circumstanta care ar putea eventual conduce publicul la concluzia actualitatii ori continuarii Campaniei.</p>
                            <p><strong>4.4.</strong> Produsele Participante sunt disponibile in limita stocului existent din fiecare magazin in parte si <strong>nu sunt</strong> marcate cu ambalaje/etichete promotionale care sa semnalizeze prezenta Campanie.</p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 5. DREPTUL DE INSCRIERE</h3>
                            <p><strong>5.1.</strong> In Campanie se pot inscrie persoanele fizice, cetateni romani sau straini, cu domiciliul sau resedinta, chiar si temporara, in Romania, care au implinit varsta de 18 ani la data inscrierii in Campanie si care accepta termenii si conditiile prezentului Regulament.</p>
                            <p><strong>5.2.</strong> Inscrierea in Campanie presupune acceptarea implicita, integrala si neechivoca a prevederilor prezentului Regulament.</p>
                            <p><strong>5.3.</strong> Nu au dreptul de a participa la aceasta Campanie urmatoarele categorii de persoane:</p>
                            <ul>
                                <li>(i) Persoanele care nu respecta Sectiunea 6.1;</li>
                                <li>(ii) Angajati ai Organizatorului, precum si ai societatilor afiliate Organizatorului;</li>
                                <li>(iii) Angajati ai Agentiilor sau angajati ai oricaror alte societati/entitati implicate in activitati legate de organizarea si desfasurarea Campaniei;</li>
                                <li>(iv) Rudele de gradul I si II (respectiv copii, parinti, frati/surori) si/sau sotul/sotia angajatilor mentionati la punctele (ii) si (iii) de mai sus.</li>
                            </ul>
                            <p><strong>5.4.</strong> Organizatorul isi rezerva dreptul de a lua toate masurile pentru a preveni inscrierea in Campanie, precum si dreptul de a elimina din Campanie orice persoana din categoriile mentionate in art. 5.3.</p>
                            <p><strong>5.5. Prin participarea la aceasta Campanie, Participantii sunt de acord in mod expres cu prevederile Regulamentului si sunt de acord ca, in cazul in care vor fi desemnati Castigatori, numele si prenumele lor sa fie facute publice conform punctului 9.8.</strong></p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 6. MECANISMUL CAMPANIEI</h3>
                            <p><strong>6.1. Conditii privind inscrierea in Campanie</strong></p>
                            <p><strong>6.1.1.</strong> Pentru inscrierea valida in Campanie este necesara indeplinirea cumulativa a urmatoarelor conditii:</p>
                            <ul>
                                <li>a) Participantul trebuie sa aiba drept de inscriere potrivit prevederilor Sectiunii 5 de mai sus;</li>
                                <li>b) Participantul trebuie sa achizitioneze minimum doua Produse Participante, pe acelasi bon fiscal, in perioada 20.04.2023 – 31.05.2023, si sa poata face dovada achizitiei;</li>
                                <li>c) Participantul se va inscrie la Campanie exclusiv prin transmiterea unuia sau a mai multor numere de bon fiscal ce atesta achizitia Produselor Participante, prin accesarea website-ului <a href="http://www.tusituc.ro/" target="_blank"><strong>www.tusituc.ro</strong></a>, cu respectarea conditiilor solicitate ce sunt prevazute la Sectiunea 6.2 de mai jos;</li>
                                <li>d) Inscrierea se va face exclusiv pe Perioada Campaniei mentionata la Sectiunea 3 de mai sus;</li>
                                <li>e) Participantul va folosi pentru inscriere un numar de telefon mobil valid, personal, valabil in retele de telefonie mobila disponibila pe teritoriul Romaniei;</li>
                                <li>f) Un Participant unic poate inscrie in Campanie maximum 10 numere de bon fiscal per saptamana de Campanie. Orice alta inscriere efectuata dupa primele 10 inscrieri dintr-o saptamana de Campanie, va fi luata in considerare daca va fi efectuata intr-o alta saptamana, in perioada de desfasurare a Campaniei. Organizatorul nu va fi facut responsabil pentru acele inscrieri pe care Participantul nu le poate efectua ca urmare a nerespectarii prezentului paragraf;</li>
                                <li>g) Un Participant unic este definit de acelasi numar de telefon;</li>
                                <li>h) Un numar de bon fiscal poate fi transmis o singura data si numai prin modalitatea prevazuta in Sectiunea 6.2.1.</li>
                            </ul>
                            <p><strong>6.2. Modalitatile de inscriere in Campanie</strong></p>
                            <p><strong>6.2.1. Inscrierea in Campanie cu numarul bonului fiscal:</strong></p>
                            <p><strong>(1)</strong> Pentru inscrierea valabila in vederea participarii in cadrul Campanie este necesara indeplinirea cumulativa a urmatoarelor conditii:</p>
                            <ul class="list-marker list-style-disc">
                                <li>Participantul trebuie sa achizitioneze minimum doua Produse Participante, pe acelasi bon fiscal, in perioada 20.04.2023 – 31.05.2023 si <strong>sa pastreze bonul fiscal;</strong></li>
                                <li>Participantul trebuie sa aiba drept de participare potrivit prevederilor Sectiunii 5 de mai sus;</li>
                                <li>Participantul se va inscrie in cadrul Campaniei exclusiv prin accesarea website-ului <a href="http://www.tusituc.ro/" target="_blank"><strong>www.tusituc.ro</strong></a>, accesarea sectiunii <strong>“INSCRIE BON”</strong> si completarea urmatoarelor informatii:</li>
                            </ul>
                            <ul>
                                <ul>
                                    <li>- Numarul de telefon;</li>
                                    <li>- Numele magazinului din care a cumparat Produsele Participante;</li>
                                    <li>- Numarul bonului fiscal exact asa cum este tiparit pe documentul fizic (sa corespunda numarul de cifre inscris pe website cu numarul de cifre de pe documentul fizic);</li>
                                    <li>- Data bonului fiscal;</li>
                                    <li>- Bifa “Declar ca am varsta peste 18 ani”; </li>
                                    <li>- Bifa “Am citit si sunt de acord cu Termenii si conditiile”;</li>
                                    <li>- Bifa “Am citit si sunt de acord cu Regulamentul campaniei promotionale”;</li>
                                </ul>
                            </ul>
                            <p><strong>6.2.2. <em>Participantul trebuie sa pastreze bonul fiscal in original si nedeteriorat impreuna cu ambalajele Produselor Participante achizitionate. Bonul fiscal trebuie sa ateste achizitia a minimum doua Produse Participante, pe acelasi bon fiscal, in perioada 20.04.2023 – 31.05.2023.</em></strong></p>
                            <p><strong>6.2.3.</strong> Pentru fiecare inscriere efectuata, Participantului i se va afisa unul dintre mesajele de raspuns:</p>
                            <p><strong>Mesajele campaniei:</strong></p>
                            <p><strong>(a) Pentru fiecare inscriere efectuata inainte de 20.04.2023, ora 10:00.00, indiferent de cate inscrieri efectueaza, Participantul va primi un mesaj cu urmatorul continut:</strong></p>
                            <p><em>Campania ”TUCuCine la NEVERSEA?” nu a început încă. Pentru a te înscrie la concurs, cumpără produse TUC participante, minimum două, pe același bon fiscal, în perioada 20.04.2023 – 31.05.2023, și înscrie numărul bonului pe site. Rămâi aproape și înscrie bonuri ce îți pot oferi șansa să te distrezi la Neversea alături de prietenii tăi.</em></p>
                            <p><strong>(b) Daca un Participant a efectuat o inscriere valida in Campanie, va primi urmatorul mesaj:</strong></p>
                            <p><em>Felicitări! Te-ai înscris cu succes în campania ”TUCuCine la NEVERSEA?” Îți reamintim că poți înregistra până la 10 bonuri fiscale pe săptămână pentru mai multe șanse de câștig. Păstrează bonul fiscal și ambalajele produselor participante achiziționate.</em></p>
                            <p><strong>(c) Daca un Participant incearca sa introduca cel de-al 11-lea numar de bon fiscal in aceeasi saptamana de campanie, acesta va primi un mesaj cu urmatorul text:</strong></p>
                            <p><em>Se pare că ai atins limita de zece înscrieri in campanie. Mulțumim pentru participare și te așteptăm săptămâna viitoare pentru noi înscrieri!</em></p>
                            <p><strong>(c1) Daca un Participant incearca sa introduca cel de-al 11-lea numar de bon fiscal in ultima saptamana de Campanie, acesta va primi un mesaj cu urmatorul text:</strong></p>
                            <p><em>Se pare că ai atins limita de înscrieri. Tuc îți multumeste pentru participare și te așteaptă la următoarele campanii promoționale!</em></p>
                            <p><strong>(d) Daca acelasi numar de bon fiscal este trimis de mai multe ori:</strong></p>
                            <p><em>Ai introdus deja acest număr de bon fiscal. Încearcă-ți norocul cu un nou bon fiscal.</em></p>
                            <p><strong>(e) Daca un Participant se inscrie dupa terminarea Campaniei, acesta va primi urmatorul mesaj:</strong></p>
                            <p><em>Campania ”TUCuCine la NEVERSEA?” s-a încheiat pe data de 31.05.2023. Tuc îți multumeste pentru participare și te așteaptă la următoarele campanii promoționale!</em></p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 7. PREMIILE CAMPANIEI</h3>
                            <p><strong>7.1.</strong> In cadrul Campaniei vor fi acordate, prin trageri la sorti, urmatoarele premii:</p>
                            <div class="table-wrapper">
                                <table>
                                    <thead>
                                    <tr>
                                        <th><p><strong>Nr crt</strong></p></th>
                                        <th><p><strong>Descriere Premiu</strong></p></th>
                                        <th><p><strong>Cantitate</strong></p></th>
                                        <th><p><strong>Valoare (bilet) unitara LEI, cu TVA + taxe</strong></p></th>
                                        <th><p><strong>Valoare (doua abonamente) unitara LEI, cu TVA</strong></p></th>
                                        <th><p><strong>Valoare totala (doua abonamente) LEI, cu TVA</strong></p></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><p>1</p></td>
                                        <td><p>Două abonamente categoria General Access la Festivalul Neversea Ediția 2023</p></td>
                                        <td><p>100</p></td>
                                        <td><p>442.40</p></td>
                                        <td><p>884.8</p></td>
                                        <td><p>88.480 LEI</p></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="3"><p><strong>TOTAL VALOARE</strong></p></td>
                                        <td colspan="3"><p><strong>88.480 LEI</strong></p></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <p>Valoarea totala a premiilor este de <strong>88.480 LEI</strong>, cu TVA inclus.</p>
                            <p><strong>7.2. Specificatiile premiilor:</strong></p>
                            <p>Fiecare premiu este format din câte două Abonamente categoria General Access Basic la Festivalul Neversea ediția 2023, in valoare totala de 884.8 lei cu TVA (valoarea unitara a unui abonament este de 442.40 lei)</p>
                            <p>Tip abonament: General Access Basic;</p>
                            <p>Abonament valabil pentru 4 zile – pe intreaga durata a Festivalului, 6-9 iulie 2023.</p>
                            <p><strong>7.3.</strong> Castigatorii unui pachet constând în două Abonamente categoria General Access la Festivalul Neversea, prin participarea la Festival, se vor supune termenilor și condițiilor acestuia.</p>
                            <p><strong>7.4.</strong> Castigatorii premiilor oferite in cadrul Campaniei nu au posibilitatea de a primi contravaloarea premiilor in bani sau inlocuirea acestora cu alte bunuri si nici nu pot solicita schimbarea caracteristicilor/ parametrilor premiilor castigate.</p>
                            <p><strong><em>7.5. In cadrul prezentei Campanii, un Participant poate castiga maximum 1 (unu) premiu pe toata durata Campaniei. Cu un bon fiscal/factura un Participant nu poate castiga mai mult de 1 (unu) premiu acordat in cadrul Campaniei.</em></strong></p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 8. DESEMNAREA CASTIGATORILOR SI ACORDAREA PREMIILOR</h3>
                            <p>Premiile Campaniei vor fi acordate dupa cum urmeaza:</p>
                            <p><strong>8.1. Premiile constand in pachete ce conțin două abonamente categoria General Access la festivalul Neversea vor fi acordate prin trageri la sorti efectuate dupa cum urmeaza:</strong></p>
                            <ul>
                                <li>a. In perioada <strong>04.05.2023 – 05.05.2023</strong> va avea loc tragerea la sorti din toate inscrierile valide din perioada <strong>20.04.2023 – 03.05.2023</strong>. In cadrul tragerii la sorti se vor extrage castigatorii dupa cum urmeaza:</li>
                                <li>
                                    <ul>
                                        <li>i. 35 de castigatori aferenti premiului constand in <strong>„pachet ce conține două abonamente categoria General Access la festivalul Neversea”</strong>;</li>
                                        <li>ii. 2 rezerve pentru fiecare castigator, in total 70 de rezerve.</li>
                                    </ul>
                                </li>
                                <li>b. In perioada <strong>18.05.2023 – 19.05.2023</strong> va avea loc tragerea la sorti din toate inscrierile valide din perioada <strong>04.05.2023 – 17.05.2023</strong>. In cadrul tragerii la sorti se vor extrage castigatorii dupa cum urmeaza:</li>
                                <li>
                                    <ul>
                                        <li>i. 35 de castigatori aferenti premiului constand in <strong>„pachet ce conține două abonamente categoria General Access la festivalul Neversea”</strong>;</li>
                                        <li>ii. 2 rezerve pentru fiecare castigator, in total 70 de rezerve.</li>
                                    </ul>
                                </li>
                                <li>c. In perioada <strong>02.06.2023 – 07.06.2023</strong> va avea loc tragerea la sorti din toate inscrierile valide din perioada <strong>18.05.2023 – 31.05.2023</strong>. In cadrul tragerii la sorti se vor extrage castigatorii dupa cum urmeaza:</li>
                                <li>
                                    <ul>
                                        <li>i. 30 de castigatori aferenti premiului constand in <strong>„pachet ce conține două abonamente categoria General Access la festivalul Neversea”</strong>;</li>
                                        <li>ii. 2 rezerve pentru fiecare castigator, in total 60 de rezerve.</li>
                                    </ul>
                                </li>
                            </ul>
                            <p><strong>8.2.</strong> Tragerile  la sorti pentru premiile din cadrul Campaniei presupun folosirea unui program de calculator cu distribuire si extragere aleatorie, care va selecta castigatorii si rezervele dintr-o baza de date ce contine toate inscrierile valide in Campanie conform celor descrise mai sus. Extragerile se vor efectua in prezenta unei comisii, denumita in continuare <strong>„Comisia”</strong>, din care va face parte si un notar public, fie la sediul Agentiei 2 din Str. Siriului, nr 42-46, etaj 3, Sector 1, Bucuresti, fie la sediul biroului notarului public Nica Oana Raluca din București, sector 2, str. Avram Iancu nr. 7A ori sediul notarului public Nica Oana Raluca comunicat pe site-ul Camerei Notarilor Publici București în Lista notarilor în funcție.</p>
                            <p><strong>8.3.<em> Premiile Campaniei vor fi acordate Castigatorilor in urma procesului de validare descris in Sectiunea 9 a prezentului Regulament.</em></strong></p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 9. VALIDAREA SI PUBLICAREA CASTIGATORILOR. INTRAREA IN POSESIE A PREMIILOR</h3>
                            <p><strong>9.1.</strong> Ulterior desemnarii Castigatorilor, Agentia 2 va incepe procesul de validare a acestora, ocazie cu care se va verifica indeplinirea conditiilor privind inscrierea Participantilor, precum si respectarea tuturor dispozitiilor prezentului Regulament.</p>
                            <p><strong>9.2.</strong> Participantii care au fost desemnati Castigatori vor fi contactati prin apel telefonic la numarul de telefon mobil utilizat pentru inscrierea in Campanie, in intervalul orar 09:00 – 18:00, de 3 ori in maximum 3 zile lucratoare de la data desemnarii Castigatorilor; numarul de telefon utilizat serveste pentru identificarea Participantilor si contactarea acestora. In cazul in care Participantul nu poate fi contactat, dupa cele 3 zile lucratoare se va trece la contactarea rezervelor.</p>
                            <p><strong>9.3.</strong> Pentru a parcurge procesul de validare, Participantul va furniza Organizatorului in momentul contactarii telefonice, informatiile necesare identificarii si validarii lui. Convorbirile telefonice vor fi inregistrate pentru a putea fi utilizate ca mijloace de proba in eventualele contestatii in legatura cu procesul de validare a Castigatorilor si de inmanare a premiilor oferite in Campania promotionala, precum si pentru scopul verificarii modului in care este gestionata relatia cu Participantii la Campanie.</p>
                            <p><strong>9.3.1.</strong> In cadrul apelului, Participantului i se va solicita sa declare urmatoarele informatii: <strong><em>(i) nume si prenume, (ii) data nasterii, (iii) adresa de corespondenta in cazul in care Organizatorul decide preluarea bonului fiscal in original pentru verificare, urmand ca dupa verificare bonul sa fie returnat Participantului la aceeasi adresa, precum si (iv) adresa de email pentru transmiterea abonamentelor Neversea.</em></strong></p>
                            <p><strong>9.3.2.</strong> Castigatorii trebuie sa trimita urmatoarele documente: copie/poza bon fiscal in termen de 3 zile de la data la care a avut loc convorbirea telefonică. Castigatorii premiilor vor trimite si o <strong>copie/poza, blurata (sa se vada numele complet si codul numeric personal), a actului de identitate</strong>. In poza bonului fiscal trebuie sa fie vizibile urmatoarele informatii de pe bonul fiscal:</p>
                            <ul>
                                <li><em>- Numarul bonului fiscal, exact asa cum l-a inscris in Campanie;</em></li>
                                <li><em>- Data bonului fiscal;</em></li>
                                <li><em>- Produsele participante in campanie, minimum doua;</em></li>
                                <li><em>- Magazinul de unde au fost achiziționate Produsele Participante.</em></li>
                            </ul>
                            <p><strong>9.3.3.</strong> Trimiterea documentelor necesare validarii se realizeaza prin incarcarea acestora intr-o pagina web, accesand link-ul securizat comunicat de Agentia 2. Participantul are la dispozitie urmatoarele doua modalitati de receptionare a link-ului securizat: SMS sau e-mail. Link-ul se va genera dupa finalizarea apelului, iar Participantul il va receptiona prin modalitatea aleasa in cadrul convorbirii. Accesand acel link, Participantul va trebui sa incarce documentele solicitate in cadrul apelului telefonic, in termenul specificat.</p>
                            <p><strong>9.3.4.</strong> Daca Participantul nu incarca documentele solicitate in termen de 3 zile de la primirea link-ului, acesta va fi invalidat si se vor contacta rezervele, in ordinea desemnarii acestora.</p>
                            <p><strong>9.3.5.</strong> In urma verificarilor si a parcurgerii procesului de validare, Participantul va primi o confirmare a primirii documentelor si, in cazul in care documentul/ele primit/e prezinta neregularitati, Participantul va fi anuntat si rugat sa reincarce documentul/ele folosind link-ul retrimis. Daca Participantul nu reincarca documentele solicitate, din care sa reiasa informatiile inscrise de catre acesta, in termen de 3 zile de la comunicare, acesta va fi invalidat si se vor contacta rezervele, in ordinea desemnarii acestora. Un Participant va avea sansa de a face dovada cu documentele solicitate de maxim 3 ori. Daca nici dupa a treia incercare, acesta nu incarca dovada clara si lizibila din care sa reiasa informatiile inscrise, acesta va fi invalidat si se vor contacta rezervele, in ordinea desemnarii acestora.</p>
                            <p><strong>9.3.6.</strong> In cazul in care un Participant nu furnizeaza toate informatiile necesare procesului de validare, dupa incheierea apelului acesta va primi un SMS cu un link catre o pagina web unde poate completa datele sale de contact necesare pentru procesul de validare si inmanare a premiilor, in termen de 3 zile. Daca datele incarcate de Participant in pagina web sunt corecte conform Regulamentului, acesta va primi un link securizat pentru incarcarea documentelor necesare validarii. Accesand acel link, Participantul va trebui sa incarce documentele de la pct. 9.3.2. in maximum 3 zile de la transmiterea link-ului. Daca datele incarcate de Participant in pagina web nu sunt corecte sau daca Participantul nu completeaza formularul cu datele sale de contact in termen de 3 zile de la primirea linkului, Participantul va fi invalidat si se vor contacta rezervele, in ordinea desemnarii acestora.</p>
                            <p><strong>9.3.7.</strong> Participantul va primi un sms de confirmare a primirii documentelor si, in cazul in care acestea nu sunt corecte, Participantul va fi anuntat sa reincarce documentele folosind link-ul retrimis. Daca Participantul nu reincarca documentele solicitate, din care sa reiasa informatiile inscrise de catre acesta, in termen de 3 zile de la comunicare, acesta va fi invalidat si se vor contacta rezervele, in ordinea desemnarii acestora. Un Participant va avea sansa de a face dovada cu documentele solicitate de maxim 2 ori. Daca nici dupa a doua incercare, acesta nu incarca dovada clara si lizibila din care sa reiasa informatiile inscrise, acesta va fi invalidat si se vor contacta rezervele, in ordinea desemnarii acestora.</p>
                            <p><strong>9.3.8.</strong> In cazul unor suspiciuni asupra bonului fiscal, Organizatorul este indreptatit sa solicite bonul fiscal in original oricarui Participant/Potential castigator, urmand ca eventualele costuri ce apar in aceasta situatie (ca de ex. dar fara a se limita la: costul curierului pentru a ridica bonul de la adresa indicată de către Participant, precum și costul înapoierii bonului la Participant după verificare) să fie suportate de către Organizator.</p>
                            <p><strong>9.4.</strong> Dupa finalizarea procesului de validare, Participantul va fi informat de statusul validarii (valid/ invalid) in termen de 10 de zile. Castigatorii vor fi validati doar daca respecta toate prevederile prezentului Regulament. Procesul de validare poate dura pana la 30 zile lucratoare in cazul in care Organizatorul decide ca verificarea bonurilor fiscale sa fie efectuata impreuna cu magazinele emitente.</p>
                            <p><strong>9.5.</strong> Imposibilitatea Participantului de a face dovada detinerii documentelor in original, constatarea unor neconcordante sau nerespectarea conditiilor de validare descrise in prezentul Regulament conduce la invalidarea Participantului, respectiv la pierderea dreptului de atribuire a premiului, fara nicio despagubire din partea Organizatorului. <strong><em>Organizatorul isi rezerva dreptul de a solicita oricarui Participant sa faca dovada participarii prin prezentarea bonurilor fiscale ale caror numere au fost inscrise in Campanie.</em></strong></p>
                            <p><strong>9.6.</strong> Daca un premiu nu se acorda ca urmare a neindeplinirii de catre Participant a uneia sau a mai multor conditii de validare, Organizatorul va desemna drept Castigator, sub rezerva indeplinirii tuturor conditiilor prevazute de prezentul Regulament, prima rezerva in ordinea desemnarii acestora. Daca nici aceasta nu indeplineste conditiile necesare, se vor avea in vedere, celelalte rezerve, in ordinea desemnarii acestora si se va relua procesul de notificare si validare descris anterior. Daca nici rezervele nu sunt validate, premiul nu se acorda si va ramane in proprietatea Organizatorului. Conditiile de validare a rezervelor sunt aceleasi ca si in cazul Participantilor desemnati initial.</p>
                            <p><strong>9.7.</strong> Organizatorul isi rezerva dreptul de a nu acorda premiile daca Participantii desemnati Castigatori nu indeplinesc conditiile de validare sau in cazul in care nu sunt suficiente inscrieri in Campanie. </p>
                            <p><strong>9.8.</strong> Anuntarea castigatorilor se va realiza prin publicarea numelui și prenumelui acestora pe <a href="http://www.tusituc.ro/" target="_blank"><strong>www.tusituc.ro</strong></a> intr-o sectiune special dedicata acestei Campanii in termen de 30 de zile de la data validarii tuturor castigatorilor.</p>
                            <p><strong>9.9.</strong> Premiile  constand in Abonamente Neversea acordate in cadrul Campaniei vor fi trimise castigatorilor la adresele indicate de catre acestia in procesul de validare, prin email, ulterior incheierii procesului de validare a castigatorilor, dar nu mai tarziu de 30 de zile lucratoare de la data publicarii castigatorilor pe <a href="http://www.tusituc.ro/" target="_blank"><strong>www.tusituc.ro</strong></a>.</p>
                            <p>Email-ul prin care va fi trimis premiul catre castigator va contine si un mesaj prin care i se va solicita sa confirme primirea premiului in termen de maxim 3 zile calendaristice de la data primirii, printr-un reply la adresa de email de la care a primit premiul constand in abonamentele Neversea.</p>
                            <p><strong>9.10.</strong> Abonamentele la Festivalul NEVERSEA acordate cu titlu de premiu au caracteristică flexi. Astfel, câștigătorii pot să realizeze procesul de check-in în mod gratuit cu pana la 14 zile înainte de începerea festivalului. Pentru a realiza procesul de check-in online, fiecare beneficiar final va trebui sa intre pe urmatorul link: <a href="https://topup.in-town.ro/web/neversea2023" target="_blank">https://topup.in-town.ro/web/neversea2023</a>, sa completeze cu datele personale cerute de platforma, iar la sfarsit sa introducă în spațiul dedicat codul de bare de pe bilet. Ca urmare a realizării cu succes a procesului de check-in, biletul va fi vizibil în contul persoanei respective. Beneficiarul final își va putea ridica brățara de festival prin prezentarea biletului fizic sau în format pdf în spațiile dedicate înafara festivalului și având procesul de check-in online realizat. În cazul în care beneficiarul final nu își face check-in online cu pana la 14 zile înainte de festival, acesta va achita o taxa de 15 euro/bilet pentru a realiza procesul de check-in online sau va avea posibilitatea de a realiza check-in la locatie pentru suma de 25 euro/bilet.</p>
                            <p><strong>9.11. Castigatorii care au intrat in posesia premiilor au obligatia de a se informa cu privire la termenii si conditiile Festivalului Neversea 2023, inclusiv dar fara a se limita la mentiunile prevazute la art. 9.10. Organizatorul nu poate fi tras la raspundere pentru costurile ce pot aparea ca urmare a nerespectarii de catre castigatori a termenilor si conditiilor Festivalului Neversea 2023, acestea fiind exclusiv in sarcina castigatorilor.</strong></p>
                            <p><strong>9.12.</strong> In cazul in care premiile sunt refuzate de catre castigatori, premiile raman in posesia Organizatorului care poate dispune liber de acestea in maniera pe care o va considera necesara sau potrivita intereselor sale.</p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 10. TAXE SI IMPOZITE</h3>
                            <p><strong>10.1.</strong> Organizatorul se obliga sa calculeze, sa retina, sa declare si sa vireze impozitul datorat pentru veniturile aferente premiilor acordate castigatorilor din cadrul Campaniei in conformitate cu prevederile Legii nr. 227/2015 privind Codul Fiscal, cu modificarile si completarile ulterioare, orice alte obligatii de orice alta natura, in legatura cu premiile castigate, fiind in sarcina exclusiva a Castigatorilor.</p>
                            <p><strong>10.2.</strong> Participantilor la Campanie nu le sunt impuse nici un fel de cheltuieli directe sau indirecte suplimentare, cu exceptia cheltuielilor normale de desfasurare a Campaniei (contravaloarea accesului la Internet pentru completarea formularului de inscriere in Campanie etc).</p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 11. LIMITAREA RASPUNDERII</h3>
                            <p><strong>11.1.</strong> Organizatorul este indreptatit sa ia toate masurile necesare in caz de tentativa de frauda a sistemului, abuz sau orice alte tentative care ar putea afecta imaginea acestei Campanii, precum si a Organizatorului. Orice incercare de fraudare conduce la eliminarea Participantului in cauza din Campanie si cu sesizarea organelor de cercetare penala, Organizatorul urmand sa informeze respectivul participant cu privire la aceasta decizie.</p>
                            <p><strong>11.2.</strong> In eventualitatea unei dispute asupra validitatii unei inscrieri in cadrul acestei Campanii, decizia Organizatorului este definitiva.</p>
                            <p><strong>11.3.</strong> Organizatorul nu isi asuma responsabilitatea, incluzand dar fara a se limita, pentru:</p>
                            <ul class="list-marker list-style-disc">
                                <li>Pierderea bonului fiscal;</li>
                                <li>Bonuri fiscale deteriorate, incomplete sau necorespunzatoare din punct de vedere al continutului;</li>
                                <li>Lipsa Produselor Participante din magazine;</li>
                                <li>Inscrierile online care nu contin toate campurile obligatorii;</li>
                                <li>Eventualele dispute legate de dreptul de proprietate asupra bonurilor fiscale sau continutului acestora;</li>
                                <li>Eventualele dispute legate de numarul de telefon inscris in Campanie;</li>
                                <li>Erorile in datele furnizate de catre Participant. Acuratetea datelor de contact nu atrage raspunderea Organizatorului, fiind in responsabilitatea exclusiva a Participantilor. Ca atare, Organizatorul nu are nici un fel de obligatie in cazul furnizarii de catre Participanti a unor date eronate, incomplete sau incorecte care au dus la imposibilitatea identificarii Castigatorului sau inmanarii premiului;</li>
                                <li>Imposibilitatea Castigatorilor de a intra in posesia premiilor din motive independente de Organizator;</li>
                                <li>Cazurile in care Castigatorul nu respecta conditiile de validare detaliate in prezentul Regulament;</li>
                                <li>Situatiile in care numarul de telefon de pe care este realizata inscrierea nu poate fi identificat sau apelat (numar incorect, numarul nu este alocat, este dezactivat, este blocat, nu se afla in aria de acoperire etc.) si ca atare Organizatorul/Agentia nu poate contacta Participantul la Campanie;</li>
                                <li>Intreruperile/disfunctionalitatile neanuntate ale operatorilor telefonici, din cauza aglomerarii retelelor pe perioadele de trafic intens;</li>
                                <li>Situatiile in care consumatorii achizitioneaza in perioada Campaniei oricare dintre produsele Organizatorului neparticipante la Campanie;</li>
                                <li>Organizatorul nu va fi raspunzator pentru niciunul dintre prejudiciile ce ar putea fi suferite de catre Castigator in legatura cu premiile castigate, indiferent de natura acestor prejudicii cu exceptia situatiilor expres prevazute de lege si care ar institui o astfel de raspundere;</li>
                                <li>Organizatorul nu isi asuma raspunderea pentru niciun fel de modificari referitoare la modalitatile/conditiile in care se poate beneficia de premiile acordate urmare a masurilor/restrictiilor impuse de catre autoritati in contextul pandemiei de Sars-Cov2.</li>
                            </ul>
                            <p><strong>11.4.</strong> Organizatorul nu raspunde in niciun fel pentru daunele directe sau indirecte care rezulta din inscrierea la Campanie cu exceptia cazului in care acestea se datoreaza unor acte de neglijenta grava sau unor acte intentionate de care este responsabil Organizatorul.</p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 12. PRELUCRAREA DATELOR CU CARACTER PERSONAL</h3>
                            <p><strong>12.1.</strong> Informatii cu privire la prelucrarea datelor cu caracter personal se vor regasi in Anexa 1 a prezentului Regulament.</p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 13. INCETAREA/ INTRERUPEREA CAMPANIEI. FORTA MAJORA</h3>
                            <p><strong>13.1.</strong> Campania poate inceta inainte de implinirea perioadei prevazute in cazul producerii unui eveniment ce constituie forta majora, inclusiv in cazul imposibilitatii Organizatorului, din motive independente de vointa sa, de a asigura desfasurarea in bune conditii a Campaniei.</p>
                            <p><strong>13.2.</strong> Forta majora exonereaza de orice raspundere pe Organizator, acesta neputand a fi tinut raspunzator pentru eventualele prejudicii fizice, materiale si/sau morale create Participantilor, Castigatorilor sau a oricaror alte persoane terte sau participante in organizarea Campaniei, urmare a interventiei cazului de forta majora.</p>
                            <p><strong>13.3.</strong> In intelesul prezentului Regulament, forta majora inseamna orice eveniment extern care nu poate fi prevazut, evitat, controlat sau remediat de catre Organizator, si care are drept consecinta imposibilitatea Organizatorului de a-si indeplini obligatiile asumate prin Regulament.</p>
                            <p><strong>13.4.</strong> Daca va invoca forta majora, Organizatorul va comunca acest aspect Participantilor in termen de 5 zile lucratoare de la aparitia cazului de forta majora, prin mijloace de comunicare disponibile.</p>
                            <p><strong>13.5.</strong> Campania mai poate inceta inainte de implinirea perioadei stabilite ori poate fi suspendata oricand in baza liberei decizii a Organizatorului, cu conditia ca acesta sa comunice in prealabil o astfel de situatie si cu respectarea prevederilor Regulamentului.</p>
                        </div>
                        <div class="text-section">
                            <h3>SECTIUNEA 14. SESIZARI SI LITIGII</h3>
                            <p><strong>14.1.</strong> Participantii pot depune sesizari sau reclamatii in legatura cu desfasurarea Campaniei la numarul de telefon 021 233 04 05, prin email la adresa <a href="mailto:consumator@mdlz.com">consumator@mdlz.com</a> sau prin posta la adresa Organizatorului din B-dul. Dimitrie Pompeiu, nr. 5-7, Hermes Business Campus 2, Cladirea C, Sectiunea Nord, etaj 6, Bucuresti, Sector 2,  pana la data de 30.06.2023, inclusiv. Dupa aceasta data, nicio sesizare/reclamatie nu va mai fi luata in considerare de catre Organizator. Sesizarile/reclamariile vor fi solutionate in termen de 15 zile lucratoare de la data depunerii acestora si un raspuns scris va fi comunicat Participantului la adresa de e-mail indicata sau la adresa postala comunicata de catre acesta.</p>
                            <p><strong>14.2.</strong> Eventualele sesizari sau reclamatii vor cuprinde in mod obligatoriu:</p>
                            <ul>
                                <li>(i) nume si prenume, domiciliul/resedinta sau numar de telefon/adresa de e-mail, precum si alte date necesare pentru identificarea contestatorului,</li>
                                <li>(ii) prezentarea motivelor de fapt pe care se intemeiaza sesizarea/reclamatia.</li>
                            </ul>
                            <p><strong>14.3.</strong> Organizatorul si Agentiile nu au nicio obligatie de a intretine corespondenta cu expeditorii unor sesizari/reclamatii care sunt in mod vadit nefondate sau excesive, inclusiv din cauza caracterului repetitiv.</p>
                            <p><strong>14.4.</strong> Eventualele litigii aparute intre Organizator si Participanti, cu privire la orice aspect legat de desfasurarea Campaniei, se vor solutiona pe cale amiabila, iar in cazul in care aceasta nu va fi posibila, litigiile vor fi solutionate de catre instantele judecatoresti romane competente de la sediul Organizatorului.</p>
                        </div>
                        <div class="text-section">
                            <h3 class="text-center pb-2">ANEXA nr. 1 la Regulamentul Oficial al Campaniei</h3>
                            <p class="text-center"><strong>”TUCuCine la NEVERSEA?”</strong></p>
                            <p class="text-center py-0"><strong>(“Campania”)</strong></p>
                            <p class="text-center pt-0"><strong>- Informatii cu privire la prelucrarea datelor cu caracter personal -</strong></p>
                            <p>Prezenta Anexa aduce la cunostinta publicului modul in care <strong>MONDELEZ ROMANIA S.A.</strong> si imputernicitii sai prelucreaza datele cu caracter personal ale persoanelor vizate (participanti si castigatori), in conformitate cu legislatia aplicabila.</p>
                            <p>MONDELEZ ROMANIA S.A. si societatile implicate in organizarea Campaniei se obliga sa respecte:</p>
                            <ul class="list-marker list-style-disc">
                                <li>Regulamentul (UE) 2016/679 al Parlamentului European si al Consiliului din 27 aprilie 2016 privind protectia persoanelor fizice in ceea ce priveste prelucrarea datelor cu caracter personal si privind libera circulatie a acestor date si de abrogare a Directivei 95/46/CE (Regulamentul general privind protectia datelor, in continuare ”GDPR”), aplicabil incepand cu 25 mai 2018,</li>
                                <li>Legea 190/2018 privind masuri de punere in aplicare a Regulamentului general privind protectia datelor,</li>
                                <li>Deciziile Autoritatii Nationale de Supraveghere a Prelucrarii Datelor cu Caracter Personal (ANSPDCP).</li>
                            </ul>
                            <p>Participantii la Campanie au, potrivit dispozitiilor legale mentionate mai sus, calitatea de persoane vizate.</p>
                            <p><strong>Prin comunicarea datelor cu caracter personal, in modalitatile indicate in Regulament, participantii si castigatorii premiilor Campaniei isi exprima acordul expres si neechivoc, ca datele lor cu caracter personal sa intre in baza de date a Organizatorului si societatilor implicate in vederea validarii, anuntarii castigatorilor, atribuirii premiilor si indeplinirii obligatiilor financiar-contabile si fiscale.</strong></p>
                            <p><strong>Participantii inteleg ca prelucrarea datelor lor cu caracter personal, in conditiile si in scopul declarat prin Regulament si Anexa nr. 1 la Regulamentul Campaniei, este necesara derularii Campaniei.</strong></p>
                        </div>
                        <div class="text-section">
                            <p><strong>1. Date privind operatorul datelor cu caracter personal</strong></p>
                            <p>In vederea desfasurarii Campaniei, datele cu caracter personal ale Participantilor vor fi prelucrate de catre:</p>
                            <ul class="list-marker list-style-disc">
                                <li><strong>MONDELEZ ROMANIA S.A.</strong> cu sediul in Bucuresti, Sector 2, B-dul. Dimitrie Pompeiu nr. 5-7, Hermes Business Campus, Cladirea C, Sectiunea Nord, etaj 6, inregistrata la Registrul Comertului sub nr. J40/6905/2010, C.U.I. 1097530 (denumita in continuare <strong>"Operatorul"</strong>).</li>
                                <li>Prin intermediul <strong>DENTSU ROMANIA S.R.L.</strong>, cu sediul social in str. George Enescu nr. 11-11A, etaj 5, camera 3, sector 1, Bucuresti, Romania, inregistrata la Registrul Comertului sub nr. J40/20774/2008, C.U.I. 2486616 (<strong>“Imputernicit”</strong>),</li>
                                <li>Si prin intermediul <strong>MEDIAPOST HIT MAIL S.A.</strong>, cu sediul in Str. Siriului, nr. 42-46, Sector 1, Bucuresti, inregistrata la Registrul Comertului sub nr. J40/ 8295/ 2000, C.U.I. RO13351917 (<strong>„Imputernicit”</strong>),</li>
                            </ul>
                            <p>Datele de contact ale Operatorului pentru nelamuriri sau exercitarea drepturilor de catre persoanele vizate cu privire la datele cu caracter personal sunt urmatoarele:</p>
                            <p><strong>Mondelez Romania S.A.</strong>, adresa: Bucuresti, Sector 2, B-dul. Dimitrie Pompeiu nr. 5-7, Hermes Business Campus, Cladirea C, Sectiunea Nord, etaj 6, email: <a href="mailto:MDLZDataProtectionOfficeMEU@mdlz.com">MDLZDataProtectionOfficeMEU@mdlz.com</a>.</p>
                        </div>
                        <div class="text-section">
                            <p><strong>2. Categorii de date cu caracter personal prelucrate in cadrul Campaniei</strong></p>
                            <p>In cadrul Campaniei, Operatorul va prelucra urmatoarele categorii de date cu caracter personal:</p>
                            <p>Pentru participanti:</p>
                            <ul>
                                <li>(i)	numar de telefon,</li>
                            </ul>
                            <p>Pentru castigatori:</p>
                            <ul>
                                <li>(i) nume, prenume,</li>
                                <li>(ii) numar de telefon,</li>
                                <li>(iii) data nasterii,</li>
                                <li>(iv) adresa de corespondenta,</li>
                                <li>(v) adresa de email,</li>
                                <li>(vi) CNP,</li>
                                <li>(vii) voce,</li>
                            </ul>
                            <p>Prin inscrierea si participarea la Campanie, persoana care este desemnata si validata ca si castigator al unui premiu a carui valoare depaseste 600 Lei, are la cunostinta faptul ca trebuie sa prezinte Organizatorului/Agentiilor implicate numele si prenumele intocmai cum apar in actul de identitate, precum si CNP-ul, pentru ca Organizatorul sa poata respecta obligatiile fiscale impuse de Codul Fiscal, respectiv calcularea, retinerea si plata impozitului pe venit din premiul castigat. Copia actului de identitate (care contine nume, prenume si CNP) va fi folosita exclusiv in vederea indeplinirii obligatiilor prevazute de Codul Fiscal. Refuzul persoanei de a furniza aceste date poate atrage imposibilitatea de a indeplini obligatiile fiscale care revin Organizatorului si de a acorda premiul.</p>
                        </div>
                        <div class="text-section">
                            <p><strong>3. Scopurile prelucrarii</strong></p>
                            <p>Datele cu caracter personal ale participantilor la Campanie vor fi prelucrate in vederea:</p>
                            <ul>
                                <li>- Inscrierii, organizarii si desfasurarii Campaniei;</li>
                                <li>- Desemnarii, validarii si anuntarii Castigatorilor;</li>
                                <li>- Atribuirii premiilor castgatorilor;</li>
                                <li>- Indeplinirii unor obligatii legale, cum ar fi, dar fara a se limita la: obligatii financiar-contabile ale Operatorulu (inclusiv cele referitoare la impozitul pentru premiile acordate), obligatii in scop de arhivare, securitate;</li>
                                <li>- Solutionarii oricaror plangeri legate de modalitatea de organizare si desfasurare a Campaniei, investigarii eventualelor incalcari, realizarii unor raportari specifice, analize, apararii dreptului Organizatorului in instanta si/sau alte proceduri judiciare sau administrative;</li>
                                <li>- Utilizarii ca mijloace de proba in eventualele contestatii in legatura cu procesul de validare a castigatorilor si de inmanare a premiilor, in ceea ce priveste inregistrarea convorbirilor telefonice care contin date personale ale participantilor la Campanie.</li>
                            </ul>
                        </div>
                        <div class="text-section">
                            <p><strong>4. Temeiurile juridice ale prelucrarii</strong></p>
                            <p>Datele vor fi prelucrate in scopurile aratate la Sectiunea III de mai sus, cu urmatoarele precizari:</p>
                            <ul class="list-marker list-style-disc">
                                <li><strong>datele furnizate de participant si castigatori</strong> sunt prelucrate in temeiul executarii unui contract. Concret, acceptarea termenilor si conditiilor Regulamentului si participarea la Campanie echivaleaza cu executarea unui contract;</li>
                                <li><strong>datele furnizate de participant si castigatori</strong> vor fi prelucrate si in temeiul interesului legitim al Operatorului, precum: exercitarea, apararea drepturilor sau intereselor Operatorului si societatilor implicate in Campanie inaintea instantelor de judecata, a executorilor judecatoresti, a notarilor publici, a altor autoritati publice sau oricaror organisme publice sau private care solutioneaza dispute, avocatilor etc;</li>
                                <li><strong>CNP-ul furnizat de castigatori</strong> este prelucrat in vederea efectuarii formalitatilor necesare pentru retinerea la sursa si plata impozitelor aferente Premiului. In acest caz, temeiul prelucrarii este reprezentat de obligatia legala a Organizatorului de indeplinire a obligatiilor fiscale;</li>
                                <li><strong>publicarea listei castigatorilor premiilor</strong> de catre Organizator, este efectuata in temeiul obligatiei legale a Organizatorului de a publica astfel de liste, potrivit legislatiei privind organizarea de promotii si concursuri;</li>
                                <li><strong>pastrarea datelor</strong> ulterior incheierii Campaniei si inmanarea premiilor Castigatorilor reprezinta o prelucrare in temeiul interesului legitim al Operatorului, pentru a dovedi desfasurarea Campaniei si acordarea premiilor, precum si in temeiul obligatiilor legale aferente legislatiei financiar-contabile ce impune pastrarea documentelor contabile pentru o anumita perioada;</li>
                                <li><strong>inregistrarea si stocarea convorbirilor telefonice</strong> care contin date personale ale participantilor la Campanie se vor realiza in temeiul interesului legitim al Operatorului constand in dreptul de a preconstitui eventuale dovezi privind modul de comunicare cu participantii pentru procesul de validare si inmanare a premiilor.</li>
                            </ul>
                        </div>
                        <div class="text-section">
                            <p><strong>5. Destinatarii datelor cu caracter personal</strong></p>
                            <p>Datele cu caracter personal vor fi dezvaluite catre <strong>DENTSU ROMANIA S.R.L., MEDIAPOST HIT MAIL S.A.</strong>, precum si autoritatilor, in cazurile in care Operatorul trebuie sa respecte obligatiile impuse de legislatia in vigoare.</p>
                            <p>Datele cu caracter personal vor mai putea fi dezvaluite, in masura in care va fi necesar, urmatoarelor categorii de terti:</p>
                            <ul class="list-marker list-style-disc">
                                <li>societati care furnizeaza produse si servicii companiilor implicate in Campanie, in legatura cu organizarea si desfasurarea Campaniei, precum: furnizori de sisteme IT, furnizori de asistenta aferenti si furnizori de sisteme de stocare in sistem cloud (pentru realizare copii de urgenta, stocare suplimentara, recuperare in caz de dezastru etc.);</li>
                                <li>entitati implicate in diferite stagii sau situatii ale Campaniei si pentru care este necesara furnizarea acestor informatii, ca de exemplu: avocati, notari, experti externi, auditori, contabili etc.;</li>
                                <li>companiile de curierat si curierii implicati in livrarea premiilor catre Castigatori.</li>
                            </ul>
                            <p>Tertii carora le sunt transmise sau puse la dispozitiile datele personale ale Participantilor si Castigatorilor, conform celor prevazute mai sus, sunt limitati, atat prin lege cat si prin contract, in ceea ce priveste modul de utilizare a datelor.</p>
                            <p>De asemenea, datele cu caracter personal colectate vor putea fi dezvaluite si publicului, in cazul anuntarii Castigatorilor.</p>
                        </div>
                        <div class="text-section">
                            <p><strong>6. Perioada de stocare a datelor cu caracter personal</strong></p>
                            <p>Datele cu caracter personal ale Participantilor declarati necastigatori vor fi stocate timp de  60 de zile de la incheierea Consursului.</p>
                            <p>Datele cu caracter personal ale castigatorilor premiilor cu valoare mai mica de 600 lei vor fi stocate atat cat este necesar pentru indeplinirea scopurilor pentru care au fost colectate, cu respectarea procedurilor interne privind retentia datelor, inclusiv a regulilor de arhivare aplicabile, dar nu mai mult de 3 ani de la data colectarii acestora.</p>
                            <p>Datele cu caracter personal ale castigatorilor premiilor cu valoare mai mare de 600 lei vor fi stocate conform prevederilor legale aplicabile in materie financiar-contabila, respectiv 5 (cinci) ani de la data incheierii exercitiului financiar in care a avut loc plata impozitului din premii.</p>
                            <p>Convorbirile telefonice care contin date personale ale participantilor la Campanie vor fi stocate atat cat este necesar pentru indeplinirea scopurilor pentru care au fost colectate, cu respectarea procedurilor interne privind retentia datelor, dar nu mai mult de 3 ani de la data colectarii acestora.</p>
                            <p>La expirarea perioadei de stocare a datelor cu caracter personal, Operatorul va sterge/distruge aceste date de pe mijloacele de prelucrare si stocare, impunand Imputernicitului/ Imputernicitilor obligatii similare.</p>
                        </div>
                        <div class="text-section">
                            <p><strong>7. Drepturile persoanelor vizate</strong></p>
                            <p>In vederea asigurarii unei prelucrari echitabile si transparente, Operatorul informeaza Participantii cu privire la drepturile de care acestia beneficiaza, in calitate de persoane vizate, conform prevederilor legale aplicabile:</p>
                            <ul>
                                <li>(i) dreptul la informare;</li>
                                <li>(ii) dreptul de retragere a consimtamantului cu privire la prelucrare, in orice moment, atunci cand prelucrarea se intemeiaza pe consimtamant, fara ca aceasta sa afecteze legalitatea prelucrarii efectuate pe baza consimtamantului inainte de retragerea acestuia;</li>
                                <li>(iii) dreptul de a solicita accesul la datele cu caracter personal;</li>
                                <li>(iv) dreptul de a solicita rectificarea datelor cu caracter personal;</li>
                                <li>(v) dreptul de a solicita stergerea datelor cu caracter personal </li>
                                <li>(vi) dreptul la restrictionarea prelucrarii;</li>
                                <li>(vii) dreptul de a se opune prelucrarii, in conditiile prevazute de lege;</li>
                                <li>(viii) dreptul la portabilitate a datelor;</li>
                                <li>(ix) dreptul de a depune o plangere in fata Autoritatii Nationale de Supraveghere a Prelucrarii Datelor cu Caracter Personal.</li>
                            </ul>
                            <p>Participantii isi pot exercita drepturile mentionale printr-o cerere adresata Operatorului la adresele indicate la Sectiunea I din prezenta anexa, precum si la adresa de email <a href="mailto:MDLZDataProtectionOfficeMEU@mdlz.com">MDLZDataProtectionOfficeMEU@mdlz.com</a>.</p>
                            <p>Termenul de raspuns la solicitarile Participantilor este de 30 de zile, termen ce poate fi prelungit cu o perioada suplimentara de 60 de zile in cazul unor motive specifice ce implica anumite cerinte legale sau care sunt date de complexitatea cererii.</p>
                            <p>In anumite cazuri, accesul la toate sau la o parte a datelor personale poate fi restrictionat din cauza unor cerinte legale, aceasta situatie (de acces restrictionat sau chiar refuz) urmand a fi comunicata.</p>
                            <p>In situatia in care o persoana nu poate fi identificata in baza elementelor de identificare furnizare, i se vor solicita informatii suplimentare. Daca persoana refuza oferirea de informatii suplimentare sau le ofera insa sunt in continuare insuficiente pentru identificare, raspunsul poate fi de a nu da curs solicitarii persoanei in cauza.</p>
                        </div>
                        <div class="text-section">
                            <p><strong>8. Protectia datelor cu caracter personal apartinand minorilor</strong></p>
                            <p>Intrucat la Campanie pot participa exclusiv persoanele fizice cu varsta de minim 18 ani la data inceperii Campaniei, nu vor fi prelucrate date apartinand persoanelor cu varsta mai mica de 18 ani. In situatia in care Operatorul/ un Imputernicit primeste date cu caracter personal apartinand persoanelor cu varsta mai mica de 18 ani, aceste date vor fi imediat sterse/ distruse de pe mijlocele de prelucrare si stocare ale Operatorului/ Imputernicitului. In cazul in care un parinte sau un titular al autoritatii parintesti notifica prelucrarea unor date cu caracter personal apartinand unor persoane cu varsta mai mica de 18 ani, Operatorul va sterge/ distruge imediat aceste date de pe mijlocele de prelucrare si stocare.</p>
                        </div>
                        <div class="text-section">
                            <p><strong>9. Securitatea datelor cu caracter personal</strong></p>
                            <p>Operatorul se obliga sa implementeze masuri tehnice si organizatorice adecvate in vederea asigurarii unui nivel de securitate corespunzator datelor cu caracter personal apartinand participantilor la Campanie. Operatorul se obliga sa impuna Imputernicitului obligatii similare. La evaluarea nivelului adecvat de securitate se va tine seama in special de riscurile prezentate de prelucrarea datelor cu caracter personal, generate in special, in mod accidental sau ilegal, de distrugerea, pierderea, modificarea, divulgarea neautorizata sau accesul neautorizat la datele cu caracter personal transmise, stocate sau prelucrate.</p>
                        </div>
                        <div class="text-section">
                            <p><strong>10. Modificarea informarii privind prelucrarea datelor cu caracter personal</strong></p>
                            <p>Operatorul are dreptul de a modifica prezenta Anexa la Regulament oricand pe durata desfasurarii Campaniei, numai in cazul in care se descopera masuri mai eficiente pentru protejarea si securizarea datelor cu caracter personal ale persoanelor vizate si fara a afecta drepturile si libertatile persoanelor vizate. Orice astfel de modificare va fi publicata pe site-ul Operatorului si/ sau al Campaniei, respectiv va fi adusa la cunostinta Participantilor prin aceleasi mijloace prin care au fost incunostintate cu privire la Regulament.</p>
                        </div>
                        <div class="text-section">
                            <p><strong>11. Alte prevederi</strong></p>
                            <p>In masura in care in cadrul campaniei, Participantii dezvaluie date cu caracter personal apartinand unor terte persoane, participantii confirma ca au informat aceste persoane cu privire la modul in care datele lor cu caracter personal vor fi prelucrate şi faptul ca aceste date sunt folosite in scopul desfaşurarii Campaniei şi ca au obtinut acordul persoanelor respective pentru aceasta operatiune. In acest sens, Participantii au obligatia de a informa aceste persoane cu privire la continutul prezentei sectiuni.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rules content end-->
        </div>
    </main>
    {% include 'reusable_templates/footer.html.twig' %}
</div>
{% endblock %}