{% extends 'layout.html.twig' %}

{% block title %} TUC | Castigatorii campaniei TUC{% endblock %}
{% block body %}
<div class="page">
    {% include 'reusable_templates/header.html.twig' %}
    <main class="winners-page">
        <div class="inner" >
            <!-- Rules content start-->
            <div class="campaign-winners">
                <div class="campaign-winners__heading common-heading">
                    <h1>CÂȘTIGĂTORI</h1>
                    <div class="running-campaing">
                        <p>Verifică dacă te afli printre fericiții câștigători! Îți ținem pumnii!</p>
                    </div>
                </div>
                <div class="campaign-winners__content">
                    <div class="running-campaing">
                        <div class="winners-table">
                            <div class="winners-table__heading">
                                <ul>
                                    <li>
                                        <p>Nume</p>
                                    </li>
                                    <li>
                                        <p>Premiu</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="winners-table__winners">
                                <ul>
                                    <li>
                                        <p>Ioancea Maria Mirela</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Negoiță Gabriela</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Negoescu Cătălin</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Floroiu Zoia</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Popescu Gheorghe Mihai</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Lungu Cosmin</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Gospodin Rodica</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Chiran Andreea Maria</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Fekete Dalma Tunde</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Țuțuianu Carmen Florina</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Trașcă Marius</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Cîrlig Valentina Norela</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Stoica Violeta Tanța</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Toma Gabriel</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Cărbunaru Toni</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Apostol Teodor</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Balcan Petrică</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Stoenciu Daniel</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Neagu Mihaela</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Guță Eduard</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Dașoveanu Oana Cătălina</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Drăghici Mihaela</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Călinoiu Florin</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Nică Andrei Ionuț</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Hagiu Florentina Gina</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Telejman Daniela Florentina</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Voiculescu Melania</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>
                                    <li>
                                        <p>Călin Emilia</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p>
                                    </li>

                                    <li><p>Platon Nicoleta</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Ionică Alexandru</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Rusu Ștefan</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Sofronie Iulia Simona</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Ibrea Claudiu</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Stan Mădălin</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Petrescu Cristina</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Săceanu Marius Valentin</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Mușat Tinel</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Marcu Alexandra</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Blaga Diana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Sirbu Alexandru</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Simion Elena</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Dănăilă Mirel</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Ceauș Ciprian</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Nica Mihaela Roxana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Negoiță Ionel</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Lungu Cristina</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Amorțilă Alexandra Andreea</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Goșea Maria</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Goran Nicoleta</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Goran Maria</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Mușat Mariana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Bălășoiu Ramona</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Dantiș Nicoleta</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Ciupercă Nicoleta</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Fitec Ionut Codrut</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Rațiu Daniel</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Moraru Lucia Adriana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Ceauș Ionuț Octavian</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Pîrcălăbelu Ion</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Ciuciuc Evelyne</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Cojocaru Ciprian</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Pricop Emilia</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Negruți Alexandra</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Ceauș Loredana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Grecu Mădălina Beatrice</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Manea Robert Gabriel</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Ionescu Maria</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Giurgiu Paula</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Tănase Liana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Stamu Elena Georgiana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Georgescu Tiberiu Marian</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Sorescu Loredana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Prisecaru Adina Elena</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Costina Alexandrina</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>ZIRBO BOGDAN</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Popescu Mihail</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Ilina Gheorghe Cătălin</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Luncan Angelica</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Mihaiu Alexandra Cristina</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Botezan Cătălina Maria</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Munteanu-maxim Raluca</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Sotir Gheorghita</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Constantinescu Adrian</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Roman Corina Daniela</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Geambașu Vasile</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Bîrlan Elena Diana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Popescu Adrian</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Dița Alina</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Constandache Petrusa Romana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Negru Daniela</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Amzica Elena Alexandra</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Schivancini Adrian</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Oprea Adrian Gabriel</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Dușă Fănel</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Tamaș Șandor</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Popescu Liliana</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Cheresteș Andrei Aurelian</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Dorcioman Dragos Constantin</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Baciu Adrian Sebastian</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                    <li><p>Fătu Voichița</p>
                                        <p>Doua abonamente General Access la <strong>Neversea</strong></p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rules content end-->
        </div>
    </main>
    {% include 'reusable_templates/footer.html.twig' %}
</div>
{% endblock %}