<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta property="og:title" content="TUCuCine împarți momentele verii?" />
        <meta property="og:description" content="Ai chef de distracție? Înscrie-te în campania TUC și poți să mergi la Neversea împreună cu un prieten!" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{ absolute_url(asset("images/FB-share.png")) }}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta name="title" content=""/>
        <meta name="description" content=""/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{ asset("styles/style.min.css") }}">

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
